.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header h2 {
    font-weight: 500;
    margin: auto;
}