.citas__calendar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.citas__asignaciones {
  margin-top: 60px;
}

.Asignaciones__card {
  border: 1px solid var(--main-color);
  padding: 20px;
  box-sizing: content-box;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 20%);
  background: #a64d791f;
  margin-bottom: 20px;
}
.Asignaciones__card-datos {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
}
.Asignaciones__card p {
  margin: 2px 0;
  font-weight: 400;
}
.Asignaciones__card h1 {
  margin: 5px 0;
  font-size: 24px;
  color: var(--main-color);
}

.Asignaciones__datos-nombre {
  color: var(--main-color);
  font-weight: 700;
}
#hora {
  color: var(--secondary-color);
}
#telefono {
  color: var(--main-color);
  text-decoration: none;
}
p#telefono a {
  text-decoration: none;
  color: var(--main-color);
}

.Asignaciones__servicios {
  border-left: 0.5px solid var(--main-color);
  padding-left: 10px;
}

.Asignaciones__servicios-icon img {
  width: 22px;
}
.Asignaciones__servicios p {
  color: var(--text);
}

.Asignaciones__card-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px auto;
  margin-bottom: 0px;
}

.Asignaciones__card-buttons button {
  background: var(--secondary-color);
  border: none;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  font-size: 14px;
}
.Asignaciones__card-buttons i {
  margin-right: 10px;
}

.Asignaciones__advice {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: center;
  color: var(--secondary-color);
  background: lemonchiffon;
}

/*Estilos modificados del calendario*/

.react-calendar {
  border: none;
}
.react-calendar__tile--now {
  background: #c4f7ff73;
}
.react-calendar__month-view__days__day--weekend {
  color: inherit;
}
.react-calendar__tile--active {
  background: var(--main-color) !important;
  color: white !important;
}
button.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend:hover {
  background: #e6e6e6;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

/*Botones de navegación anual*/
button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  display: none;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}
