.cliente__card {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    color: var(--text);
}

.cliente__card-telefono {
    text-decoration: none;
    color: green;
    font-size: 20px;
    display: flex;
}

h5 {
    color: lightslategray;
    background: lightcyan;
}