@import '~bootstrap-icons/font/bootstrap-icons';
#menu {
    background: #f6f4f5;
}

ul li {
    margin: 0 20px;
    opacity: .4;
}

.icon__active {
    opacity: 1;
}

ul li a {
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
}

ul li a i {
    font-size: 35px;
}

@media (max-width: 600px) {
    #menu {
        position: fixed;
        bottom: 0;
    }
}